.footer-col-desc {
  float: right;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  width: -webkit-calc(80% - (#{$spacing-unit} / 2));
  width:         calc(80% - (#{$spacing-unit} / 2));
  text-align: justify;
}

.footer-col-social {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
} 

.post-tags {
  margin-top: -1em;
  margin-bottom: 1em;
}

.post-tag {
  font-size: small;
  color: rgb(90, 90, 90);
}
